.video-wrapper {
	padding: 30px 0;
	
	@include media-breakpoint-down(xs) {
		padding-top: 0;
	}
}

.video {

}

.video__title-wrapper {
	padding-top: 15px;
}

.video__title {
	margin: 0;
}

.video__stats-wrapper {
	padding: 15px 0;
	border-bottom: 1px solid #e0e0e0;
}

.video__stats {
	font-size: 1.125em;
	color: lighten($brand-black, 25%);
	text-align: right;
}

.video__stats__item {
	display: inline-block;
	
	.fa {
		margin-right: 5px;
		color: lighten($brand-black, 45%);
	}
	
	& + & {
		margin-left: 15px;
	}
}

.video__description-wrapper {
	padding: 0 0 30px 60px;
	border-bottom: 1px solid #e0e0e0;
	
	@include media-breakpoint-down(sm) {
		padding-left: 0;
	}
}

.video__description {
	white-space: pre-line;
	
	.truncate-trigger {
		display: inline-block;
		margin-top: 10px;
	}
}

.video__channel-wrapper {
	padding: 15px 0;
}

.video__channel {
}

.video__channel__avatar-wrapper {
	display: inline-block;
	vertical-align: middle;
	margin-right: 12px;
}

.video__channel__avatar {
	width: 48px;
	height: 48px;
	border-radius: 50px;
}

.video__channel__name-wrapper {
	display: inline-block;
	vertical-align: middle;
}

.video__channel__name {
	font-weight: 700;
	color: initial;
	
	&:hover, &:focus, &:active {
		text-decoration: none;
		color: initial;
	}
}

.video__created-date-wrapper {
}

.video__created-date {
	color: lighten($brand-black, 33%);
}
